.events__links {
  margin: 0;
  margin-top: 16px;
  padding: 0 40px 0 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  flex-basis: max-content;
  line-height: 48px;
  max-width: 60%;
}


@media  screen and (max-width: 1440px) {
  .events__links {
    padding-right: calc(20px + (40 - 20) * (100vw - 360px) / (1440 - 360));
    padding-left: calc(20px + (40 - 20) * (100vw - 360px) / (1440 - 360));
  }
}

@media  screen and (max-width: 360px) {
  .events__links {
    padding-left: 20px;
    padding-right: 20px;
    gap: 8px;
  }
}
