.button_type_header_like {
  border: none;
  border-radius: 0;
  position: relative;
  padding-left: 56px;
}

.button_type_header_like::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 26px;
  background-image: url("../../../images/like.svg");
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .button_type_header_like {
    padding-left: 44px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 20px;

  }

  .button_type_header_like::before {
    left: 20px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}
