.button_type_location {
  border: none;
  border-radius: 0;
  position: relative;
  padding-left: 56px;
  text-overflow: ellipsis;
  display: flex;
}

.button_type_location::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 26px;
  background-image: url("../../../images/location.svg");
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .button_type_location {
    font-size: 16px;
    line-height: 20px;
  }
  .button_type_location::before {
    background-image: url("../../../images/location.svg");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 630px) {
  .button_type_location {
    display: none;
    margin: 0;
    padding: 0;
  }
}
