.button_type_header_menu {
  display: none;
  border: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/header-menu.svg);
  background-size: 20px 20px;
}

@media screen and (max-width: 768px) {
  .button_type_header_menu {
    display: block;
  }
}
