.gallery__items {
  margin: 40px auto 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 500px) {
  .gallery__items {
    margin-top: 20px;
    gap: 0;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: minmax(320px, 1fr);
  }
}
