.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

@media screen and (max-width: 590px) {
  .popup__header {
    margin-bottom: 30px;
  }
}
