.events {
  padding: 80px 0 80px 0;
  background-color: var(--color-light-secondary);
  color: var(--color-dark-primary);
}


@media screen and (max-width: 1440px) {
  .events {
    padding-top: calc(40px + (80 - 40) * (100vw - 320px) / (1440 - 320));
    padding-bottom: calc(40px + (80 - 40) * (100vw - 320px) / (1440 - 320));
  }
}

@media screen and (max-width:320px) {
  .events{
    padding: 40px 0px 40px 0px;
  }
}
