.menu__figcaption {
  display: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 0 8px 0;
  color: var(--color-dark-secondary);
}

@media screen and (max-width: 1280px) {
  .menu__figcaption {
    display: block;
  }
}
