.numbers__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 0 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1279px) {
  .numbers__list {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

@media screen and (max-width: 500px) {
  .numbers__list {
    margin: 20px 0 0;
  }
}
