.footer__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 9px 0 0;
  color: #3B3748;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 20px;
  }
}
