.menu__item {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 0 20px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-dark-primary);
  background-color: transparent;
  border: 0;
  margin: 0;
  cursor: pointer;
}

.menu__item:hover {
  box-shadow: 0 0 1px 1px rgba(221, 221, 221, .9);
}

@media screen and (max-width: 1280px) {
  .menu__item {
    display: flex;
  }
}
