.popup__payment-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-dark-secondary);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 590px) {
  .popup__payment-text {
    padding-bottom: 16px;
  }
}
