.events__link-all {
  display: block;
  margin-top: 32px;
  text-decoration: none;
  width: 240px;
  background-color: var(--color-primary);
  color: var(--color-light-primary);
  border-color: var(--color-primary);
}

@media screen and (max-width: 360px) {
  .events__link-all {
    margin-top: calc(48px - (48 - 32) * (100vw - 360px) / (1440 - 360));
  }
}

@media screen and (max-width: 360px) {
  .events__link-all {
    margin-top: 48px;
  }
}
