.about__title {

  margin: 0;
  padding: 0;

  color: var(--color-dark-primary);
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: lowercase;
}


@media screen and (max-width: 500px) {

  .about__title{
    font-size: 32px;
    line-height: 36px;
  }

}
