.intro {
  min-height: 760px;
  max-width: 1440px;
  margin: 0;
  background-image: url("../../images/first-screen-background-desctop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 100%;
  justify-items: center;
  margin-top: 88px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 68px;
  }
}

@media screen  and (max-width: 700px) {
  .intro {
    background-image: url("../../images/first-screen-background-mob.svg");
  }
}
