.intro {
  display: grid;
  grid-template-rows: 100%;
  justify-items: center;

  min-height: calc(100vh - 88px);
  background-image: url("../../images/first-screen-background-desctop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1440px;
}

@media screen and (max-width: 768px) {
  .intro {
    min-height: calc(100vh - 68px);
  }
}

@media screen  and (max-width: 567px) {
  .intro {
    background-image: url("../../images/first-screen-background-mob.svg");
    background-position: top center;
    background-size: 360px;
  }
}
