.intro {
  display: grid;
  grid-template-rows: 100%;
  justify-items: center;
  min-height: calc(100vh - 88px);
  background-image: url("../../images/first-screen-background-desctop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .intro {
    min-height: calc(100vh - 68px);
  }
}

@media screen  and (max-width: 700px) {
  .intro {
    background-image: url("../../images/first-screen-background-mob.svg");
  }
}
