.popup__buttons-amount {
  list-style-type: none;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 34px;
  padding: 0;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
  .popup__buttons-amount {
    margin-top: 16px;
    margin-bottom: 30px;
  }
}
