.header__navigation-links {
  display: flex;
  align-items: center;
  column-gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 2px;
  left: 0;
}

@media screen and (max-width: 1280px) {
  .header__navigation-links {
    column-gap: 0;
  }
}
