.events__button-wrapper {
  padding: 0 40px 0 40px;

}

@media  screen and (max-width: 1440px) {
  .events__button-wrapper {
    padding-right: calc(20px + (40 - 20) * (100vw - 360px) / (1440 - 360));
    padding-left: calc(20px + (40 - 20) * (100vw - 360px) / (1440 - 360));
  }
}

@media  screen and (max-width: 360px) {
  .events__button-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

