.menu__donate {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu__donate {
    display: block;
    min-height: 44px;
    border: none;
    width: 320px;
    border-radius: 22px;
    background-color: #7100FF;
    color: #fff;
    align-self: center;
    position: absolute;
    bottom: 20px;
  }

  .menu__donate:hover {
    cursor: pointer;
  }
}
