.event-card__button_type_like {

  width: 48px;
  height: 48px;

  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--color-light-primary);
  background-image: url(../../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24.01px 21.1px;

  box-shadow: 0px 2px 4px rgba(59, 55, 72, 0.12);
  border-radius: 24px;
  cursor: pointer;

}
