.button {
  box-sizing: border-box;
  color: var(--color-dark-primary);
  border-radius: 26px;
  border: 2px solid #3B3748;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 22px;
  }
}
