.intro__title {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  width: 315px;
  height: 228px;
  object-fit: contain;
  background-image: url("../../../images/first-screen-title-desctop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 567px){
  .intro__title {
    align-self: flex-start;
    width: 210px;
    height: 152px;
    margin-top: calc(175px - var(--section-space-top));
    background-image: url("../../../images/first-screen-title-mob.svg");
  }
}
