.menu {
  display: none;
  height: 0;
}

@media screen and (max-width: 1280px) {
  .menu {
    display: none;
    height: calc(100vh - 88px);
    width: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    position: fixed;
    top: 88px;
    right: 0px;
    overflow-y: auto;
    scroll-snap-type: y; 
    z-index: 1;
    box-shadow: 0px -8px 32px rgba(59, 55, 72, 0.12);
  }
}

@media screen and (max-width: 768px) {
  .menu {
    height: calc(100vh - 68px);
    top: 68px;
    min-width: 360px;    
  }
}

@media screen and (max-width: 540px) {
  .menu {
    width: 100%;
  }
}