.menu {
  display: none;
  height: 0;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    height: calc(100vh - 68px);
    min-width: 360px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    position: fixed;
    top: 68px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 2;
  }
}
